.header-main h3 {
  text-align: center;
}

.sticky-header {
  position: sticky;
  top: 0;
  background: #e4e4e4;
  z-index: 1;
}

.table {
  margin: 0 auto;
  width: 600px;
}

.btn {
  margin-left: 20px;
}