body {
  background-color: #e4e4e4;
}

.post {
  display: block;
  position: relative;
  margin: 20px auto;
  background: #fff;
  width: 600px;
  border-radius: 10px;

  .post-user {
    width: 100%;
    height: 50px;

    .post-user-avatar {
      position: absolute;
      top: 8px;
      left: 10px;

      img {
        width: 35px;
        height: 35px;
        border-radius: 50px;
      }
    }

    .post-user-nickname {
      position: absolute;
      top: 15px;
      left: 50px;
    }
  }

  .post-image {
    display: block;
    width: 600px;

    img {
      width: 100%;
      height: auto;
      max-height: 400px;
      object-fit: cover;
    }
  }

  .post-likes {
    display: inline-block;
    width: 50%;
    z-index: 1;
    font-size: 17px;

    .likes {
      margin: 10px;
      width: 24px;
      height: 24px;
      background-image: url('../../img/sprites.png');
      background-size: 282px 248px;
      background-position: 0 -199px;
      background-repeat: no-repeat;
      background-color: transparent;
      border: 0;
      outline: none;
    }

    .likes-done {
      background-position: -208px -151px;
    }
    span {
      margin-top: 10px; 
    }
    .fa-heart-o {
      margin: 10px; 
    }
  }

  .post-delete {
    display: inline-block;
    position: absolute;
    bottom: 8%;
    right: 5%;
    z-index: 1;

    button {
      background: url('../../img/sprites.png') no-repeat -5px -234px;
      background-size: 282px 248px;
      width: 14px;
      height: 10px;
      border: 0;
      outline: none;
    }
  }

  .post-caption {
    display: inline-block;
    width: 100%;
    padding: 0 10px 10px 10px;

    span {
      width: 90%;
      margin-left: 10px;
    }
  }
}

footer {
  text-align: center;
}