body {
  background-color: #e4e4e4;
}

header {
  display: flex;
  height: 50px;
  text-align: center;
  z-index: 1;
  margin: 0 auto;

  $border-radius: 3px;
  $primary: #f2f2f2;
  $animation: pulse;

  .profile-dropdown {
    display: inline-block;
    position: relative;
    margin: auto;
  
    input[type="checkbox"] {
      display: none;
      &:checked {
        & ~ ul {
          display: block;
          animation: $animation .1s;
        }
      }
    }
    
    img {
      display: inline-block;
      height: 2.5rem;
      vertical-align: middle;
      border-radius: 50%;
    }
    
    ul {
      display: none;
      list-style: none;
      padding: 0;
      margin-top: 15px;
      background: #fff;
      position: absolute;
      top: 100%;
      right: 0px;
      width: 175px;
      border-radius: $border-radius;

      li {
        span {
          display: inline-block;
          padding: .75rem 1rem;
        }
        a {
          display: block;
          padding: .75rem 1rem;
          text-decoration: none;
          color: darken($primary ,50%);
          font-size: 1rem;
          
          &:hover {
            background: rgb(59, 240, 180);
          }
        }
      }
    }
  }
}

.all-posts {
  display: block;

  .header-main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0;
    height: 60px;
    background: #fff;
    z-index: 2;

    .icon {
      font-size: 35px;
    }

    input {
      width: 220px;
      height: 30px;
      padding-left: 10px;
      border: 2px solid rgb(71, 62, 62);
      border-radius: 5px;
      outline: none;
      color: #9E9C9C;
    }

    button {
      position: relative;
      width: 30px;
      height: 30px;
      border: none;
      background: rgb(255, 255, 255);
      cursor: pointer;
    }

    .btn-search:before {
      content: "\f002";
      font-family: FontAwesome;
      font-size: 16px;
      color: black;
    }

    .profile-photo {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      position: absolute;
      top: 0;
    }
  }
}

.post {
  display: block;
  position: relative;
  margin: 20px auto;
  background: #fff;
  width: 600px;
  border-radius: 10px;

  .post-user {
    width: 100%;

    .post-user-avatar {
      position: absolute;
      top: 8px;
      left: 10px;

      img {
        width: 35px;
        height: 35px;
        border-radius: 50px;
      }
    }

    .post-user-nickname {
      position: absolute;
      top: 15px;
      left: 50px;
    }
  }

  .post-image {
    display: block;
    width: 600px;
    height: 400px;

    img {
      width: 100%;
      height: auto;
      max-height: 400px;
      object-fit: cover;
    }
  }

  .post-likes {
    display: block;
    width: 100%;
    z-index: 1;
    font-size: 17px;

    .likes {
      margin: 10px;
      width: 24px;
      height: 24px;
      background-image: url('../img/sprites.png');
      background-size: 282px 248px;
      background-position: 0 -199px;
      background-repeat: no-repeat;
      border: 0;
      outline: none;
    }

    .likes-done {
      background-position: -208px -151px;
    }
    span {
      margin-top: 10px; 
    }
    .fa-heart-o {
      margin: 10px; 
    }
  }

  .post-caption {
    display: inline-block;
    width: 100%;
    padding: 0 10px 10px 10px;

    span {
      width: 90%;
      margin-left: 10px;
    }
  }
}

footer {
  text-align: center;
}